#Run this file with pynsist

[Application]
name=Pendulum Sandbox
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=scripts.scripts.main:main
console=false

[Python]
version=2.7.16

[Shortcut]
icon = pendulum.png

[Include]
# Importable packages that your application requires, one per line
packages = numpy
     wx 

# Other files and folders that should be installed
files = LICENSE.txt
    README.md
    README.doc
    scripts/icons

